---
- name: DBeaver - Install on (Debian/Ubuntu)
  when: ansible_facts['distribution'] == 'Debian' or ansible_facts['distribution'] == 'Ubuntu'
  block:
    - name: DBeaver - Check if exists
      ansible.builtin.stat:
        path: /usr/bin/dbeaver
      register: dbeaver_exists_result

    - name: DBeaver - Install/Upgrade
      ansible.builtin.apt:
        deb: https://dbeaver.io/files/dbeaver-ce_latest_amd64.deb
      when: not dbeaver_exists_result.stat.exists or upgrade | default(false)

- name: DBeaver - Install on (Fedora/CentOS)
  when: ansible_facts['distribution'] == 'Fedora' or ansible_facts['distribution'] == 'CentOS'
  block:
    - name: DBeaver - Check if exists
      ansible.builtin.stat:
        path: /usr/bin/dbeaver
      register: dbeaver_exists_result

    - name: DBeaver - Install/Upgrade
      ansible.builtin.dnf:
        name: https://dbeaver.io/files/dbeaver-ce-latest-stable.x86_64.rpm
        disable_gpg_check: true
        state: present
      when: not dbeaver_exists_result.stat.exists or upgrade | default(false)

- name: DBeaver - Install on Arch Linux
  when: ansible_facts['distribution'] == 'Archlinux'
  block:
    - name: DBeaver - Install using yay
      become: false
      ansible.builtin.shell: |
        yay -S --noconfirm dbeaver
      args:
        executable: /bin/bash
      become_user: "{{ aur_user }}"
      changed_when: true
