---
- name: Reload systemd daemon
  ansible.builtin.systemd:
    daemon_reload: true
  become: true
  listen: "reload systemd"

- name: Restart SSH service
  ansible.builtin.service:
    name: "{{ ssh_service_name | default('sshd') }}"
    state: restarted
  become: true
  listen: "restart ssh"

- name: Reload SSH config
  ansible.builtin.meta: noop
  listen: "reload ssh config"

# General service handlers
- name: Restart Docker service
  ansible.builtin.service:
    name: docker
    state: restarted
  become: true
  listen: "restart docker"

- name: Reload user profile
  ansible.builtin.command:
    cmd: bash -c "source {{ sysinit_user_home }}/.bashrc"
  become: false
  changed_when: false
  listen: "reload profile"
