---
- name: Molecule Converge
  hosts: all
  become: true
  vars:
    sysinit_var: molecule_converge
    upgrade: false
    sysinit_user: "{{ lookup('env', 'USER') }}"
    aur_user: "{{ lookup('env', 'USER') }}"
  roles:
    - role: sysinit
